In [1]:
import os

DATA_DIR = os.environ['ROOT_DATA_DIR']
# PROJECT_DIR = os.environ['PROJECT_DATA_DIR']
os.listdir(DATA_DIR)

['pipelines-data', 'postgres_data', 'tc_data']

In [3]:
tc_data_dir = os.path.join(DATA_DIR, 'tc_data')

if not os.path.exists(tc_data_dir):
    os.mkdir(tc_data_dir)
    print('dir created')

In [4]:
tc_root_dir = os.path.join(DATA_DIR, 'pipelines-data', 'techcrunch_data')
feed_pages_dir = os.path.join(tc_root_dir, 'feed_pages')
scraped_pages_list = os.listdir(feed_pages_dir)
scraped_pages_list[:10]

['0912e9856652.html',
 '0612f51ab7c7.html',
 'cd6f0049d198.html',
 '29682c453bee.html',
 'afa2d38825da.html',
 'c9eea4ce188a.html',
 '0b11b825d3ed.html',
 'fba6bd517c3e.html',
 '1df3463f8e9f.html',
 '682eb0e44ede.html']

In [5]:
import datetime
import hashlib

import requests

from etl_tools.utils import get_id_hash, save_html, read_html, get_attrs_from_link, get_news_links

URL = 'https://techcrunch.com/category/artificial-intelligence/page/2/'

In [17]:
html_content = read_html(feed_pages_dir, scraped_pages_list[0])
item_card_scraper = BeautifulSoup(
    markup=html_content, features="html.parser"
)

In [18]:
reviews = get_news_links(item_card_scraper)
        
news_df = pd.DataFrame(reviews)

news_df.head()

,block_num,link,preview,class_0,attr_0,attr_1,attr_2,attr_3,class_1
0,0,https://techcrunch.com/category/artificial-int...,AI,wp-block-tc23-post-picker,category,artificial-intelligence,NaN,NaN,NaN
1,0,https://techcrunch.com/2024/06/11/paris-based-...,Paris-based AI startup Mistral AI raises $640M,wp-block-tc23-post-picker,2024,06,11,paris-based-ai-startup-mistral-ai-raises-640-m...,NaN
2,0,https://techcrunch.com/author/romain-dillet/,Romain Dillet,wp-block-tc23-post-picker,author,romain-dillet,NaN,NaN,NaN
3,0,https://techcrunch.com/2024/06/11/paris-based-...,,wp-block-tc23-post-picker,2024,06,11,paris-based-ai-startup-mistral-ai-raises-640-m...,NaN
4,1,https://techcrunch.com/category/artificial-int...,AI,wp-block-tc23-post-picker,category,artificial-intelligence,NaN,NaN,NaN

In [38]:
tc_root_dir = os.path.join(DATA_DIR, 'pipelines-data', 'techcrunch_data')
news_pages_dir = os.path.join(tc_root_dir, 'news_pages')
scraped_pages_list = os.listdir(news_pages_dir)
(scraped_pages_list[:10])

html_content = read_html(news_pages_dir, scraped_pages_list[0])
news_card_scraper = BeautifulSoup(
    markup=html_content, features="html.parser"
)

In [ ]:
news_card_scraper.find(class_='entry-content').text[:10]

In [ ]:
tc_root_dir = os.path.join(DATA_DIR, 'pipelines-data', 'techcrunch_data')
news_pages_dir = os.path.join(tc_root_dir, 'news_json')
scraped_pages_list = os.listdir(news_pages_dir)
random_content = get_random(scraped_pages_list)

print(read_json(news_pages_dir, random_content)['content'])[:10]

In [51]:
entries = [read_json(news_pages_dir, i) for i in os.listdir(news_pages_dir)]
df = pd.json_normalize(entries)
df.head()

,doc_id,content,content_len
0,a46f0fb245c6,Splunk has always been data central for IT ope...,2800
1,1aa07e136d5a,\nA fascinating project called Amadeus Code pr...,2410
2,d7d97417d6c2,"Not even flexible, freelance jobs in the on-de...",4014
3,cc4afe660e79,Contactless grocery store Nourish + Bloom Mark...,3076
4,a71b3614b56d,Google is flailing. After years of singleminde...,11531

In [55]:
df.sort_values(by='content')

,doc_id,content,content_len,group_key
3261,2342ab161892,\n\n\n\n\n\n\n\n\n\nFollowing the quarterly re...,4417,de2dea734e82
10888,7c94a05c6c3e,\n\n\n\n\n\n\nI was in Berkeley a couple of mo...,9129,93f2d3c59dc5
11288,f29fe772f2f8,\n\n\n\n\n\n\nI was in Berkeley a couple of mo...,9129,93f2d3c59dc5
4046,547a8ce6ce75,\n\n\n\n\n\nListen on\nApple Podcasts\n\n\n\n\...,2879,20187f416966
5077,e6a807ff1680,"\n\n\n\n\nAs a writer, I often have conversati...",5912,75753deef870
...,...,...,...,...
1995,3d5eaf8d3e74,“What a lot of people tell me is ‘hardware is ...,2881,26d4a8cc2334
2956,c6f3584ac8d5,“What do I type?” is the big question making c...,3920,678839393aab
8487,0fa348337378,"“Whether for AR or robots, anytime you have so...",4512,98463c89e15a
656,fd8d0819b764,"“Yeah! Well of course we’re working on it,” Fa...",5599,60c9370c525d
8341,e8051fd479ee,“You will find that 99.9% of people in this wo...,3315,3c909c25a638

In [63]:
import agg_json_to_csv

index_docs = agg_json_to_csv(json_dir, result_csv_path)

,doc_id,content_len,content
0,f16a3d4fa0bc,4883,While Amazon continues to expand its self-serv...
1,9ac7a7cd9a44,8702,The European Parliament voted Wednesday to ado...
2,9c7045a0967d,3849,The constant refrain in the tech world is that...
3,4b6ca67e4b05,2058,While VR has shown consumers a great deal of w...
4,a25440564ff2,6224,"Glasgow, Scotland-based video interview startu..."